.container {
    display: flex;
    justify-content: center;
}
.box {
  width: 80px;
  height: 80px;
}

.blue {
  background-color:steelblue;
}

.red {
    background-color:indianred;
}

.green {
    background-color:lightgreen;
}