/*@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@500&family=Tektur&display=swap')
*/
h1{
    color:blueviolet;
}
p{
    color:firebrick
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}